.banner_bg {
    padding-bottom: 0px;
}

.bn-img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 64px;
    overflow: hidden;
}

.bn-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bn-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Texto centralizado */
.bn-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 20px;
    max-width: 90%;
}

@media (max-width: 1024px) {

    .bn-img {
        height: 500px;
        margin-top: 48px;
    }

    .bn-txt {
        padding: 16px;
    }

    .bn-txt h1 {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .bn-img {
        height: 400px;
        margin-top: 40px;
    }

    .bn-txt {
        font-size: 16px;
        padding: 12px;
    }

    .bn-txt h1 {
        font-size: 18px;
        width: 300px;
    }
}

@media (max-width: 480px) {
    .bn-img {
        height: 300px;
        margin-top: 32px;
    }

    .bn-txt {
        font-size: 14px;
        padding: 10px;
        max-width: 95%;
    }
}