.combo-bg {
    padding: 50px;
}

.combo_container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.combo_card img {
    width: 450px;
    height: 520px;
    border-radius: 12px;
}

.combo_imagem {
    position: relative;
    z-index: 0;
}

.combo_card {
    position: relative;
    overflow: hidden;
}

.combo_imagem::after {
    content: "";
    position: absolute;
    width: 450px;
    height: 520px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.514);
    z-index: 1;
    border-radius: 12px;
}

.combo__txt {
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.combo__txt h1 {
    margin-bottom: 12px;
}

.combo_card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.btn-p2 {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.intro_btn2 {
    background: #C49E32;
    border: none;
    padding: 12px 32px;
    border-radius: 4px;
    transition: background 0.3s ease;
    margin: auto;
    display: block;
}

.intro_btn2:hover {
    background: #DCBB4F;
}

.intro_btn2 a {
    font-family: "Manrope" sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #f6f6f6;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .combo_container {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .combo_card img,
    .combo_imagem::after {
        width: 100%;
        height: 420px;
    }

    .combo__txt {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .combo_container {
        grid-template-columns: 1fr;
    }

    .combo_card img,
    .combo_imagem::after {
        height: 360px;
    }

    .combo__txt {
        top: 65%;
        text-align: center;
    }

    .combo__txt h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    .combo_card img,
    .combo_imagem::after {
        height: 300px;
    }

    .combo__txt {
        top: 60%;
    }

    .intro_btn2 {
        padding: 10px 24px;
        font-size: 14px;
    }
}