.combos {
    padding: 100px 120px;
}

/*   TOTALPASS   */

.container {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 540px;
    height: 640px;
    border-radius: 20px;
    object-fit: cover;
}

.text-content img {
    height: 44px;
}

.titulo_combo {
    margin-top: 44px;
}

.tatalpass_conteudo {
    margin-top: 32px;
}

.conteudo_combo {
    max-width: 560px;
}

.totalpass_title {
    display: flex;
    gap: 12px;
}

.totalpass_title svg {
    background-color: #24CF78;
    padding: 2px 2px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

.tp_txt {
    margin-top: 12px;
}

.cta {
    margin-top: 120px;
    justify-items: center;
}

.cta p {
    text-align: center;
    background: var(--linear-01, linear-gradient(90deg, #24CF78 0%, #F6F6F6 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empresa-section {
    margin-top: 120px;
}

.empresa-benefits {
    margin-top: 64px;
}

.card_combot1 {
    width: 280px;
    height: 180px;
    background-color: #24CF78;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card_combot1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-content_combo {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 12px;
}

.card-content_combo img {
    width: 44px;
    height: 44px;
}

.card-content_combo p {
    width: 180px;
    margin-top: 14px;
    text-align: left;
    max-width: 220px;
}

.cards_beftis_combo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card_combot1:hover {
    background-color: #1c7245;
}


/*   TELEMEDICINA  */

.telemedicina_container {
    margin-top: 180px;
}

.telemedicina_combo {
    max-width: 560px;
}

.telemedicina_title {
    display: flex;
    gap: 12px;
}

.telemedicina_title svg {
    background-color: #4A1EA6;
    padding: 2px 2px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

.telemedicina_conteudo {
    margin-top: 32px;
}

.cta_telemedicina {
    margin-top: 120px;
    justify-items: center;
}

.cta_telemedicina p {
    text-align: center;
    background: var(--linar-02, linear-gradient(90deg, #4A1EA6 0%, #F6F6F6 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_combot2 {
    width: 280px;
    height: 180px;
    background-color: #4A1EA6;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card_combot2:hover {
    background-color: #6f3fd8;
}


/*  FARMACIA  */

.farmacia_container {
    margin-top: 180px;
}

.farmacia_combo {
    max-width: 560px;
}

.farmacia_title {
    display: flex;
    gap: 12px;
}

.farmacia_title svg {
    background-color: #4A1EA6;
    padding: 2px 2px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

.farmacia_conteudo {
    margin-top: 32px;
}

.cta_farmacia {
    margin-top: 120px;
    justify-items: center;
}

.cta_farmacia p {
    text-align: center;
    background: var(--linear-03, linear-gradient(90deg, #165FF1 0%, #F6F6F6 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card_combot3 {
    width: 290px;
    height: 190px;
    background-color: #165FF1;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card_combot3:hover {
    background-color: #0543c1;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}


/* TABLET E CELULAR (ATÉ 991px) */
@media (max-width: 991px) {
    .combos {
        padding: 60px 24px;
    }

    .container {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        /* Alinhamento à esquerda */
    }

    .image-content img {
        width: 100%;
        height: auto;
    }

    .text-content {
        text-align: left;
        width: 100%;
    }

    .totalpass_title,
    .telemedicina_title,
    .farmacia_title {
        justify-content: flex-start;
    }

    .cards_beftis_combo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
    }

    .card_combot1,
    .card_combot2,
    .card_combot3 {
        width: 100%;
        max-width: 220px;
        height: 160px;
    }

    .card-content_combo {
        align-items: flex-start;
        text-align: left;
        gap: 8px;
    }

    .card-content_combo p {
        width: 100%;
        max-width: 180px;
        text-align: left;
    }

    .cta,
    .cta_telemedicina,
    .cta_farmacia {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* CELULAR PEQUENO (ATÉ 576px) */
@media (max-width: 576px) {
    .combos {
        padding: 50px;
    }

    .image-content {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .image-content img {
        width: 320px;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;
    }


    .card_combot1,
    .card_combot2,
    .card_combot3 {
        max-width: 220px;
        height: 160px;
    }

    .card-content_combo img {
        width: 32px;
        height: 32px;
    }

    .card-content_combo p {
        font-size: 15px;
        max-width: 140px;
    }
}