* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1200;
    display: flex;
    justify-content: center;
    background: transparent;
}

.nav_container {
    background-color: #f6f6f6;
    max-width: 1400px;
    width: 100%;
    padding: 16px 32px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* LOGO */
.logo {
    height: 32px;
}

/* MENU BURGER */
.menu-toggle {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #252525;
    cursor: pointer;
    display: none;
}

/* LINKS */
.nav_lk {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
    justify-content: center;
}

.nav_lk a {
    color: #252525;
    font-family: Manrope;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
}

.nav_lk a:hover {
    color: #C49E32;
}

/* BOTÕES */
.nav_btns {
    display: flex;
    gap: 22px;
}

.nav_btns a {
    text-decoration: none;
}

.nav_btns a {
    font-family: Manrope;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav_btn1 {
    color: #252525;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #252525;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav_btn1:hover {
    border-color: #C49E32;
    transition: all 0.3s ease;
}


.nav_btns a.nav_btn2 {
    color: #f6f6f6 !important;
}

.nav_btn2 {
    cursor: pointer;
    background-color: #C49E32;
    border: none;
    border: 2px solid #C49E32;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav_btn2:hover {
    background-color: #DCBB4F;
    border: 2px solid #DCBB4F;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
    .nav_container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 20px 16px;
    }

    .nav_container>a,
    .menu-toggle {
        display: inline-block;
    }

    .menu-toggle {
        display: block;
        font-size: 1.8rem;
        background: none;
        border: none;
        color: #252525;
        cursor: pointer;
        margin-left: auto;
        margin-top: -40px;
    }

    .nav_lk,
    .nav_btns {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        margin-top: 20px;
    }

    .nav_container.open .nav_lk,
    .nav_container.open .nav_btns {
        display: flex;
    }

    .nav_btns {
        gap: 12px;
    }

    .nav_btn1,
    .nav_btn2 {
        width: fit-content;
    }
}